
.vscode/settings.json
.ipynb_checkpoints/Experiments-checkpoint.ipynb
.vscode/
__pycache__/
*.cpython-36.pyc
inputs/train_masks/
inputs/train_mask/
inputs/train/
inputs/test/
inputs/train_hq/
inputs/augmented/
Experiments.ipynb
metadata.csv.zip
sample_submission.csv.zip
train_hq.zip
train_masks.csv.zip
train_masks.zip
train.zip
.ipynb_checkpoints/model_test-checkpoint.ipynb
outputs/submission2.zip
