metadata.csv.zip
sample_submission.csv.zip
train_hq.zip
train_masks.csv.zip
train_masks.zip
train.zip
.vscode/settings.json
.ipynb_checkpoints/Experiments-checkpoint.ipynb
.vscode/.ropeproject/config.py
inputs/train
inputs/train_masks
inputs/train_hq
Experiments.ipynb
